<h2 class="mt-2">Search</h2>
<form class="row g-2">
  <div class="col-auto">
    <input type="search" name="query" [(ngModel)]="query" (keyup.enter)="search()"
           placeholder="Search" class="form-control">
  </div>
  <div class="col-auto">
    <button type="button" (click)="search()" class="btn btn-primary">Search</button>
  </div>
</form>
<table *ngIf="searchResults?.length" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of searchResults; let i=index">
    <td><a [routerLink]="['/edit', person.id]">{{person.name}}</a></td>
    <td>{{person.phone}}</td>
    <td>{{person.address.street}}<br/>
      {{person.address.city}}, {{person.address.state}} {{person.address.zip}}
    </td>
  </tr>
  </tbody>
</table>
