<h2>Search</h2>

<md-input-container>
  <input mdInput type="search" name="query" placeholder="Search" [(ngModel)]="query" (keyup.enter)="search()">
</md-input-container>
<button md-mini-fab (click)="search()"><md-icon>search</md-icon></button>

<md-list *ngIf="searchResults" flex>
  <md-list-item *ngFor="let person of searchResults; let i=index">
    <div class="md-list-item-text">
      <div md-line><a href="" (click)="onSelect(person); false">{{person.name}}</a></div>
      <div md-line>{{person.phone}}</div>
      <div md-line>{{person.address.street}}<br/>
        {{person.address.city}}, {{person.address.state}} {{person.address.zip}}</div>
    </div>
  </md-list-item>
</md-list>
